body {
    background-color: #212529;
    overflow: hidden;
}

div.inline {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

div.footer {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

div#main-bg {
    width: 100vw;
    height: 100vh;
}

div#msg-detail {
    min-height: 70%;
    margin-top: 5%;
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#msg-detail::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#msg-detail {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

label.place-holder {
    color: transparent;
}

label.msg {
    background-color: #0d6efd;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
}